#encabezado{
    background-color: #8c2323;
    color: aliceblue;
    height: 80px;
    width: 100%;
    position: fixed;
}

.parent{
    display: flex;
    align-items: center !important;
}

img{
    margin-left: 40px;
    height: 80px;
}

.derecha{
    margin-left: auto;
    margin-right: 40px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
}

li p{
    font-size: 20px;
    margin-top: 8px;
}

.material-symbols-outlined { 
    color: aliceblue;
    font-size: 38px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}