#encabezado{
    background-color: rgb(140, 35, 35);
    color: aliceblue;

}

.parent{
    display: flex;
}

img{
    margin-left: 40px;
    margin-right: 60%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif !important;
}

.material-symbols-outlined { 
    color: aliceblue;
    font-size: 38px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}