#backgroundI{
    background-image: url('/img/fondo1.png'); 
    background-repeat: no-repeat; 
    background-size: cover;
}

.cuadro{
    width: 45%;
    height: 100%;
    margin-left: 55%;
    background-color: rgba(140,35,35,0.8); 
}

#ingreso{
    position: absolute;
    top: 30%;
    left: 64%;
}

.content{
    display: flex;
    align-items: center !important;
    margin-bottom: 10px;
}

.txtingreso{
    width: 360px;
    height: 50px;
    margin-left: -15px;
    padding-left: 5%;
    border-radius: 0px 50px 50px 0px;
    border:0;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    font-size: 17px;
    background-color: rgba(242,202,126,0.6);
}

.button1{
    width: 415px;
    height: 60px;
    margin-top: 20px;
    border:0;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: #F2CA7E;
}

.circulo{
    height: 65px;
    width: 65px; 
    font-size: 38px;
    border-radius: 50px;
    background-color: #F2CA7E;
}
.material-symbols-outlined {
    margin: 12px 0 0 13px; 
    font-size: 38px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* Modal */
.opciones{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 27px;
}
#abrir-modal {
    cursor: pointer;
}

.modal {
    margin-left: 35%;
    margin-top: 20%;
    width: 500px;
    height: 325px;
    border-radius: 26px;
    color:#F2CA7E;
    background-color: rgba(140,35,35,0.95);
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, .70);
}

.T-Modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 4.5%;
    margin-top: 20px;
}

.btn-cerrar {
    color: #F2CA7E;
    font-size: 26px;
    justify-content: flex-end;
    cursor: pointer;
}

.form-group {
    margin-top: 20px;
    margin-left: 5%;
}

.form-iniciar-s {
    height: 28px;
    width: 400px;
    padding: 10px;
    border-radius: 50px 50px 50px 50px;
    border:0;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    font-size: 17px;
    background-color: rgba(242,202,126,0.6);
}

.btn-registro{
    color:#F2CA7E;
    font-size: 20px;
    cursor: pointer;
    margin-left: 8px;
}

.btn-ini {
    background-color: #F2CA7E;
    margin-left: 4%;
    margin-right: 4.2%;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: none;
    color: black;
    border-radius: 15px;
    cursor: pointer;
}

.opciones a{
    text-decoration:underline;
}

#TipoU{
    background-color: rgba(242,202,126,0.6);
    border-radius: 10px;
    font-size: 15px;
    width: 170px;
    height: 30px;
    text-align: center;
}

#pass-from{
    margin-top: 40px !important;
}