.contenedor{
    display: flex;
    padding-top: 80px;
}

#menu {
    width: 220px;
    height: 100%;
    text-align: center;
    background-color: #F2CA7E;
    position: fixed;
}

#menu a {
    background-color: #F2CA7E;
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    height: 80px;
}

#menu a:hover {
    background-color: #D98014;
    color: white;
    text-decoration: double;
}

#menu a.salir {
    background-color: #B93636;
    color: white;
    margin-top: 170%;
    margin-bottom: 20px;
}

#menu a.active:hover {
    background-color: #8C2323;
    font-weight: bold;
}