.contenedor{
    background-color: #E3E3E3;
    width: 100%;
    height: 100%;
    display: flex;
}

#menu {
    width: 200px;
    height: auto;
    text-align: center;
    background-color: #F2CA7E;
    position: fixed;
}

#menu a {
    background-color: #F2CA7E;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

#menu a:hover {
    background-color: #D98014;
    color: white;
    text-decoration: overline;
}

#menu a.salir {
    background-color: #B93636;
    color: white;
    margin-top: 80%;
    margin-bottom: 20px;
}

#menu a.active:hover {
    background-color: #8C2323;
    text-decoration: overline;
}